body {
	background-color: rgb(3, 146, 74);
}

h1 {
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

img {
	max-height: 200%;
	max-width: 200%;
	width: 254px;
	height: 600px;
	object-fit: cover;
	object-position: 100% 0;
}

.columns {
	column-count: 6;
	column-gap: 0px;
	column-width: 0px;
}
