body {
	background-color: rgb(58, 56, 56);
}

h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
	display: flex;
	max-height: 200%;
	max-width: 200%;
	width: 318px;
	height: 800px;
	object-fit: cover;
}

.columns {
	column-count: 6;
	column-gap: 0px;
}
article {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-height: 60%;
	max-width: 60%;
	color: rgb(170, 170, 170);
}

.individ_Bilder {
	max-height: 100%;
	max-width: 100%;
	width: 30%;
	height: 30%;
}
