body {
	background-color: rgb(58, 56, 56);
}

h1 {
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

img {
	max-height: 640px;
	max-width: 251px;
	width: 318px;
	height: 800px;
	object-fit: cover;
}

.columns {
	column-count: 6;
	column-gap: 0px;
	column-width: 0px;
}
