body {
	background-color: rgb(241, 227, 145);
}

h1 {
	text-align: center;
	color: rgb(56, 56, 56);
	font: Tahoma;
}
img {
	max-height: 80%;
	max-width: 80%;
	border-radius: 10px;
}


p {
	max-height: 60%;
	max-width: 60%;
	color: rgb(56, 56, 56);
}

.an {
    display: none;
}
    
a:hover + div {
    display: block;
}

a{
	background-color: palegoldenrod;
}

.row1 {
	float: left;
	width: 50%;
}

.row2 {
	float: right;
	width: 50%;
}

.mariatekst{
	float: right;
	width: 50%;
	
}