body {
	background-color: rgb(241, 227, 145);
}

h1 {
	text-align: center;
	color: rgb(56, 56, 56);
	font: Tahoma;
}
img {
	max-height: 70%;
	max-width: 70%;
	border-radius: 10px;
}

img:hover{
	max-height: 72%;
	max-width: 72%;
}

p {
	max-height: 60%;
	max-width: 60%;
	color: rgb(56, 56, 56);
}

.row1 {
	float: left;
	width: 45%;
}

.row2 {
	float: right;
	width: 45%;
}